<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <link href='//fonts.googleapis.com/css?family=Oswald|Slabo+27px' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <div class="content">
    <a href="/">Administrate</a> |
    <a href="https://github.com/thoughtbot/administrate/issues/new">Feedback?</a>
    <%= yield %>
  </div>
</body>
</html>
