<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <link href='//fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Fjalla+One' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <div class="flash-wrapper">
    <div class="flash">
      Please do not publicize Administrate until it is open-sourced.
    </div>
  </div>

  <div class="content">
    <div class="sidebar">
      <h1>Administrate</h1>

      <ul class="sidebar-links">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/thoughtbot/administrate/issues/new">Feedback</a></li>
      </ul>

      <h3>Documentation</h3>

      <ul class="sidebar-links">
        <li><a href="/">README</a></li>
      </ul>
    </div>

    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
