$blue: #53ADC6;
$red: #CF726E;
$green: #5BC89E;
$white: #f0f0f0;

html, body {
  margin: 0;

  line-height: 1.62em;
  font-family: 'Lato', serif;
  font-size: 18px;
}

img {
  width: 100%;
}

h1, h2, h3 {
  margin-top: 2em;
  font-family: 'Fjalla One', sans-serif;
}

code {
  font-size: .8rem;
  padding: .4em .2em 0;
  font-family: 'Source Code Pro', ;
}

a {
  text-decoration: none;
  color: $blue;
}

.content {
  width: 61em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;

  .sidebar {
    width: 20em;
    float: left;
    &-links {
      list-style: none;
      padding-left: 0;
    }
  }

  .main {
    width: 40em;
    float: right;
  }
}

.flash-wrapper {
  background-color: $red;
  padding: 1em;
  color: $white;

  .flash {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
  }
}

table {
  width: 100%;
  thead {
    text-align: left;
  }
  th {
    border-bottom: 1px solid #aaa;
  }
  th, td {
    padding: .5em;
    padding-left: 0.5em;
    padding-right: 2.5em;
    &:last-child { padding-right: 0.5em; }
  }
  tr:nth-child(2n) {
    background-color: #eee;
  }
  font-size: 1rem;
}

code.hljs {
  $black: #202020;
  $white: #E0E0DC;
  $green: #B0BF82;
  $blue: #8FBDCC;
  $cyan: #B95C56;
  $yellow: #F8D29D;
  $red: #B95C56;

  background-color: $black;
  color: $white;
  padding-left: 1rem;

  .hljs-string { color: $green; }
  .hljs-constant { color: $blue; }
  .hljs-symbol { color: $cyan; }
  .hljs-keyword { color: $yellow; }
  .hljs-title, .hljs-parent { color: $blue; }

  .hljs-tag { color: $yellow; }
}
